#id1 {
  height: 50px;
  width: 200px;
  background-color: black;
  color: white;
}

#id2 {
  height: 50px;
  width: 300px;
  background-color: rgb(246, 195, 65);
}

.s1 {
  font: bold;
  font-family: Helvetica, "Times new roman", sans-serif;
  font-size: large;
  border: 3px solid grey;
}
