.sec1{

    font-family: 'Times New Roman', Times, serif;
    background-color: hsl(20, 96%, 78%);


}

.sec2{

    font-size: 36px;
    color: blue;
}

/* .sec3{
    font-size: 24px;
    background-color: hsl(52, 48%, 65%);
}
 */

.sec4{
    font-size: 24px;
    font-weight: bold;
    background-color: greenyellow;

}

#change1{
    background-color: pink;
    font-size: 24px;
}